
<div class="navbar">
  <div>
    <a routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    >Home</a>

   

    <a routerLink="/employees"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    >employees</a>

    <a routerLink="/employees/new"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    >new employees</a>

    <a routerLink="/task"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    >task List</a>
    
  </div>
</div>