/* Styles for Body and Typography */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
background-color: #49b6ff;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */

.bgimg-2 {
  background-image: url('/w3images/parallax2.jpg');
  min-height: 400px;
}

/* Third image (Contact) */

.bgimg-3 {
  background-image: url('/w3images/parallax3.jpg');
  min-height: 400px;
}

/* Additional Styles */

.navbar {
  background-color: #f5f5f5;
  padding: 10px;
}

.navbar div {
  display: flex;
  justify-content: flex-start;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a.active {
  color: #0300ad;
}

.navbar a:hover {
  color: #0300ad;
  opacity: 0.8;
  cursor: pointer;
}