
<body>
  <header class="header">
    <h1>Employee Management</h1>
  </header>

  <div class="content">
    <h2>About</h2>
    <p>We are here to manage Employee information and tasks </p>
    <p>We are dedicated to providing a comprehensive solution for managing employee information and tasks efficiently. </p>
    <p> Our platform streamlines the processes involved in employee management,
      allowing organizations to centralize and organize crucial data and tasks</p>
    <!-- Other content goes here -->
  </div>

  <footer class="footer">
    &copy; 2023 My Website. All rights reserved.
  </footer>
</body>