<h2>More Details</h2>
<table class="table-stripad">
<thead>
  <tr>
    <th>
      Name:
    </th>
    <th>
      Phone Number:
    </th>
    <th>
      Street:
    </th>
    <th>
      City:
    </th>
    <th>
      State:
    </th>
    <th>
      PostalCode:
    </th>
  </tr>
</thead>
<tbody>
  <tr>


<td *ngIf="employee?.employeeName">{{employee?.employeeName}}</td>
<td *ngIf="employee?.employeeNumber">{{employee?.employeeNumber}}</td>
<td *ngIf="employee?.address.street">  {{employee.address?.street}}</td>

<td *ngIf="employee?.address.city">{{employee.address?.city}}</td>
<td *ngIf="employee?.address.state"> {{employee.address?.state}}</td>
<td *ngIf="employee?.address.postalCode">{{employee.address?.postalCode}}</td>
  </tr>
</tbody>

</table>