<!--
-->


<h2>Emloyee List</h2>
<table class="table-stripad">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Phone Number</th>
      <th>View</th>
      <th>Delete</th>
      <th>Update</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.employeeName}}</td>
      <td>{{employee?.employeeNumber}}</td>
      
      <td>
        <a [routerLink]="['/employees/' + employee.employeeId]">
          <button class="btn">Detalis</button></a>
      </td>
      <td>
        <button *ngIf="employee.employeeId !== null" (click)="deleteEmployee(employee.employeeId!)"
          class="btn">Delete</button>

     
      </td>
      <td>
        <button  (click)="updateEmployee(employee.employeeId)">Update</button>
      </td>
    </tr>
  </tbody>
</table>



<!-- <button  (click)="updateEmployee(employee.employeeId)">Update</button>-->
        


<!--   <button (click)="updateEmployee(employee.employeeId)" >Update</button>
        <a [routerLink]="['/updateEmployee/employees/'+employee.employeeId]">
          <button>Up</button>
        </a> -->