/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  text-align: center;
  background-color: rgba(248, 248, 247, 0.433);
}
 
a {
  list-style: none;
  color: black;
}
 
.navbar div a {
  color: rgb(139, 138, 228);
  margin: 0 1em;
  text-decoration: none;
  cursor: pointer;
}
.navbar {
  background: #515f7d;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.navbar div {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
 

.create-employee,
.update-employee,
.create-task {
  background: #608dd5;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
}










.create-employee,
.create-task {
  background-color: #f9eec3;
}
 

.create-employee form,
.update-employee form,
.create-task form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
label {
  width: 200px;
  display: block;
}
 
input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
 
button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}
 
.error-msg {
  color: red;
}
 
.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}
 
.employee-card h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}
 
.task-card {
  background-color: #dfeef9;
}
.footer {
  background-color: #515f7d;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}